:root {
  --blue: #1450a3;
  --black: #000000;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid var(--blue);
}

* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

::placeholder {
  color: #1450a3;
  font-weight: bold;
}

section:nth-child(even) {
  background: #f5f5f5;
}

.login {
  width: 25vw;
  height: 20vw;
  margin: auto;
  border-radius: 3px;
  background: #fff;
  color: #1450a3;
  margin-top: 15vh;
  text-shadow: 0px 1px 3px #777;
}

.login h1 {
  text-align: center;
  font-size: 5em;
}

form input {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 1vw;
  border: none;
  border: 1px solid #1450a3;
  outline: none;
  color: #1450a3;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: none;
}

.login p {
  text-align: center;
  color: #1450a3;
  font-size: 1.5em;
}

button {
  background-color: #1450a3;
  margin-top: 1vw;
  width: 100%;
  color: #fff;
  padding: 0.8vw;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.para-2 {
  text-align: center;
  color: #1450a3;
  font-size: 1.3em;
}
