<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card 1</title>
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <iframe
      src="navbar.html"
      frameborder="0"
      width="100%"
      height="100px"
    ></iframe>
    <a
      href="/index"
      style="
        position: absolute;
        left: 4em;
        top: 6em;
        color: #1450a3;
        font-weight: bold;
        border: 1px solid #1450a3;
        padding: 0.2em;
        border-radius: 100px;
      "
      >Kembali</a
    >
    <div class="container_profile">
      <div class="baris_satu">
        <div class="card1">
          <img src="/public/img/poto-profil.png" alt="Gambar" />
          <p>Nama Kamu</p>
          <p>ID : 1</p>
          <a href="/edit_profile">Edit Profil</a>
        </div>

        <div class="card2">
          <div class="pembayaran">
            <h4>Status Pembayaran</h4>
            <div class="isi_pembayaran">
              <p>Jumlah Bayar</p>
              <hr />
              <p>Status Bayar</p>
            </div>
          </div>
        </div>
      </div>

      <div class="baris_dua">
        <div class="card3">
          <div class="biodata">
            <p>Bintang Ramadhana</p>
            <hr />
            <p>biskie@gmail.com</p>
            <hr />
            <p>Laki Laki</p>
            <hr />
            <p>01239182312</p>
            <hr />
            <p>Jalan Sickle Head</p>
          </div>
        </div>

        <div class="card4">
          <div class="jadwal_konsultasi">
            <h4>Jadwal Konsultasi</h4>
            <div class="isi_jadwal">
              <p>Tanggal</p>
              <hr />
              <p>Waktu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <!-- Css -->
    <link rel="stylesheet" href="css/profile.css" />
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <header class="header">
      <a href="/index" class="logo">
        <img class="logo" src="/img/logo.png" alt=""
      </a>

      <nav class="navbar">
        <a href="/index">home</a>
        <a href="#services">services</a>
        <a href="#doctors">find a psycholog</a>
        <a href="#book">book</a>
        <a href="#blogs">blogs</a>
        <a href="#contact">contact us</a>
      </nav>

      <div style="display: flex; align-items: center">
        <p
          style="
            color: #4682a9;
            border: 1px solid #4682a9;
            padding: 1em 5em 1em 1em;
            border-radius: 50px;
            font-size: 1.1em;
          "
        >
          <%= profileData.nama_pendek %>
        </p>
        <div class="profile">
          <img
            src="data:image/png;base64, <%= profileData.foto_pasien %>"
            alt="Foto Profil"
            class="poto_profile"
          />
          <div class="profile-menu">
            <button onclick="myFunction()" class="dropbtn"></button>
            <div id="myDropdown" class="dropdown-content">
              <a href="/profile" style="margin: 0" class="dropdown">Profile</a>
              <a href="/pembayaran" style="margin: 0" class="dropdown"
                >Pembayaran</a
              >
              <a href="/logout" style="margin: 0" class="dropdown">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <div id="menu-btn" class="fas fa-bars"></div>
    </header>

    <!-- -------------------------------- -->
    <div class="container_profile">
      <p><a href="/index" class="kembali">Kembali</a></p>
      <div class="baris_satu">
        <div class="card1">
          <img
            src="data:image/jpeg;base64, <%= profileData.foto_pasien %>"
            alt="Foto Profil"
            class="profile"
          />
          <p><%= profileData.nama_pasien %></p>
          <p>ID: <%= profileData.id_pasien %></p>
          <a href="/edit_profile">Edit Profil</a>
        </div>

        <div class="card2">
          <div class="pembayaran">
            <h4>Status Pembayaran</h4>
            <div class="isi_pembayaran">
              <p>
                <% if (profileData.jumlah_bayar !== "-") { %> Jumlah Bayar: <%=
                profileData.jumlah_bayar %>
              </p>
              <hr />
              <p>
                Status Bayar: <%= profileData.status_bayar == "sudah" ? "Sudah"
                : "Belum" %>
              </p>
              <% } else { %>
              <p>Jumlah Bayar: <%= profileData.jumlah_bayar %></p>
              <hr />
              <p>
                Status Bayar: <%= profileData.status_bayar == "sudah" ? "Sudah"
                : "-" %>
              </p>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="baris_dua">
        <div class="card3">
          <div class="biodata">
            <p><%= profileData.nama_pasien %></p>
            <hr />
            <p><%= profileData.email_pasien %></p>
            <hr />
            <p><%= profileData.gender %></p>
            <hr />
            <p><%= profileData.nomor_ponsel %></p>
            <hr />
            <p><%= profileData.alamat %></p>
          </div>
        </div>

        <div class="card4">
          <div class="jadwal_konsultasi">
            <h4>Jadwal Konsultasi</h4>
            <div class="isi_jadwal">
              <% if (profileData.tanggal && profileData.waktu) { %> <% const
              appointmentDate = new Date(profileData.tanggal + " " +
              profileData.waktu); %> <% const currentDate = new Date(); %> <% if
              (appointmentDate < currentDate) { %>
              <p>Anda belum memiliki appointment.</p>
              <% } else { %>
              <p>
                Tanggal Appointment: <br />
                <%= profileData.tanggal %>
              </p>
              <hr />
              <p>Waktu Appointment: <%= profileData.waktu %></p>
              <% } %> <% } else { %>
              <p>Anda belum memiliki appointment.</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/script/script.js"></script>
  </body>
</html>
