@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;200;300;400;500;600;700&family=Quicksand&display=swap');

:root{
    --blue: #1450A3;
    --black:#444;
    --light-color:#777;
    /* --box-shadow: .5rem .5rem 0 rgba(22,160, 133, .2);
    --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, .2); */
    --border: .2rem solid var(--blue);
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    /* transition: all .2s ease-out; */
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.header{
    padding: 2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;

}

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.title{
    font-family: monospace !important;
    font-weight: 400;
    margin-left: 90px !important;
    margin-top: 20px !important;
    font-family: 'Roboto', sans-serif !important;
}
#img-logo{
    height: 80px;
    width: 80px;
    float: left;
}
.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}


.header .logo i{
    color: #C70039;
}

.header .navbar a{
    font-size: 1.7rem;
    color: #b1b1b1;
    margin-left: 2rem;
    font-family: 'Poppins', sans-serif;
}

.header .navbar a:hover{
    color: var(--blue);
    text-decoration: underline;
}

.btn{
    width: 200px;
    height: 40px;
    background-color: #1450A3;
    color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    margin-left: 360px;
    font-size: 18px;

}
#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--blue);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
}

#logo-rebios{
    margin-top: 130px;
    height: 100px;
    width: 100px;
    margin-left: 670px;
    margin-bottom: -100px;
}
.rebios-text{
    font-family: monospace !important;
    font-weight: 400;
    text-align: center;
    margin-top: 100px !important;
    font-family: 'Roboto', sans-serif !important;  
    font-size: 30px;
    margin-left: 20px;
}

.h1-bookapp{
    font-size: 40px; 
    font-weight: 500;
    color: #1450A3;
    font-family: 'Poppins', sans-serif;
    margin-top: -200px !important;
}
.p-bookapp{
    font-size: 20px;
    font-weight: 500;
    color: #1450A3;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 800px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: 170px auto;
    padding: 30px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.container.title
{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color:#D071F9;
    text-transform:uppercase;
    text-align:center;
}

.container .form {
    width: 100%;
    margin-top: 50px;
    margin-left: 100px;
}

.container .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    
}

.fa-calendar-days{
    margin-left: -24px;
    font-size: 16px;
}

.fa-clock{
    margin-left: -24px;
    font-size: 16px;
}

label{
    color: #1450A3;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.input{
    border: solid 1px #1450A3;
    border-radius: 2px;
    padding-left: 5px;
    width: 400px;
    height: 30px;
}

.container .form .input_field label {
    width: 20%;
    margin-right: 10px;

}

.input::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  
  .input:-ms-input-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  
  .input:-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
  
  .input::-moz-placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }

@media (max-width:991px){

    html {
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;

    }

    .header .navbar .active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    } 

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    
    
    }

}


@media (max-width:450px){

    html {
        font-size: 50%;
    }
}