* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

::placeholder {
  color: #1450a3;
}

/* Form */

body {
  background-color: #4682a9;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

h2#logo {
  margin: 0px;
  padding-left: 20px;
  width: 30vw;
  font-weight: bold;
}

.container {
  display: flex;
}

.form_container {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  border-radius: 15px 0 0 15px;
  box-shadow: -2px 11px 5px #3c3d3c;
}

form {
  margin: auto;
  width: fit-content;
  margin-top: 140px;
}

label,
input {
  font-size: 1.5em;
  font-weight: bold;
  color: #4682a9;
  text-transform: none;
}

input[type="radio"] {
  margin-right: 0.2vw;
}

label[for="laki"] {
  margin-right: 1vw;
}

input[name="nama_pasien"],
input[name="tanggal_lahir"],
input[name="nomor_ponsel"],
input[name="email_pasien"],
input[name="alamat"],
input[name="password"] {
  background-color: transparent;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #1450a3;
  width: 30vw;
  opacity: 0.9;
  margin-top: 1vw;
}

input[name="gender"] {
  margin-top: 1.2vw;
}

button {
  background-color: #1450a3;
  margin-top: 1vw;
  width: 30vw;
  color: #fff;
  padding: 0.8vw;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

img.boy {
  position: absolute;
  width: 40%;
  height: 80vh;
  bottom: 0px;
  filter: drop-shadow(12px 10px 10px #1450a3);
}

p {
  margin-top: 0.1vw;
  opacity: 0.5;
  font-size: 1.2em;
  text-align: center;
}
