<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Re bios</title>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Font -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
    <link rel="stylesheet" href="/public/style/style.css" />
    <link rel="stylesheet" href="/public/style/navbar.css" />
  </head>
  <body>
    <div id="content-container2">
      <!-- header section starts -->
      <!-- Tampilan header saat sudah login -->
      <div id="navbar-container"></div>
      <!-- header section ends -->

      <!-- home section starts -->
      <section class="home" id="home">
        <div class="content">
          <h3
            style="
              font-size: 1.8rem;
              text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
            ">
            Hi <%= nama_pendek %>,
          </h3>
          <h3 style="font-size: 3.5rem">Welcome To</h3>
          <h3>Virtual Healthcare For You</h3>
          <p>
            ReBios provides progressive, and affordable psycholog healthcare,
            accessible on mobile and online for everyone
          </p>
          <a href="/appointment" class="btn">
            consult today <span class="fas fa-chevron-right"></span>
          </a>
        </div>

        <div class="image">
          <img src="/public/img/index.png" alt="" />
        </div>
      </section>
      <!-- home section ends -->

      <!-- services section starts -->
      <section
        class="services"
        id="services"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-anchor-placement="top-center">
        <h1 class="heading">our <span>services</span></h1>
        <p>
          We provide to you the best choiches for you. Adjust it to your health
          needs and make sure your undergo treatment with our highly qualified
          psycholog you can consult with us which type of service is suitable
          for your health
        </p>
        <br />

        <br />
        <div class="box-container">
          <div class="box">
            <img src="/public/img/cari.png" alt="" />
            <h3>search psycholog</h3>
            <p>
              choose your psycholog from thousands of specialist, general, and
              trusted hospitals
            </p>
          </div>

          <div class="box">
            <img src="/public/img/pharmacy.png" alt="" />
            <h3>Online pharmacy</h3>
            <p>
              Buy your medicines with our mobile application with a simple
              delivery system
            </p>
          </div>

          <div class="box">
            <img src="/public/img/consul.png" alt="" />
            <h3>consultation</h3>
            <p>
              Free consultation with our trusted psychologs and get the best
              recomendations
            </p>
          </div>

          <div class="box">
            <img src="/public/img/info.png" alt="" />
            <h3>details info</h3>
            <p>
              Free consultation with our trusted psychologs and get the best
              recomendations
            </p>
          </div>

          <div class="box">
            <img src="/public/img/bag.png" alt="" />
            <h3>emergency care</h3>
            <p>You can get 24/7 urgent care for yourself or lovely family</p>
          </div>

          <div class="box">
            <img src="/public/img/tracking.png" alt="" />
            <h3>tracking</h3>
            <p>Track and save your medical history and health data</p>
          </div>
        </div>
      </section>
      <!-- services section ends -->

      <!-- about section starts -->

      <section
        class="about"
        id="about"
        data-aos="zoom-out"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-anchor-placement="top-center">
        <div class="row">
          <div class="image">
            <img src="/public/img/gambar2.png" alt="" />
          </div>

          <div class="content">
            <h3>Leading Healthcare Providers</h3>
            <p>
              ReBios Provides Progressive, And Affordable Psycholog Healthcare,
              Accessible On Mobile And Online For Everyone. To Us, It’s Not Just
              Work. We Take Pride In The Solutions We Deliver. Join our growing
              community of satisfied users and experience the positive impact of
              accessible mental health care firsthand. Your well-being is our
              priority.
            </p>
          </div>
        </div>
      </section>
      <!-- about section ends -->

      <!-- doctors section starts -->
      <section
        class="doctors"
        id="doctors"
        data-aos="zoom-in"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-anchor-placement="top-center">
        <h1 class="heading">our <span>psychologies</span></h1>
        <p>
          Free consultation with our trusted psychologs and get the best
          recomendations
        </p>

        <div class="box-container">
          <div class="box">
            <img src="/public/img/bg.png" alt="" />
            <h3>mark jho</h3>
            <span>expert doctors</span>
          </div>

          <div class="box">
            <img src="/public/img/bg.png" alt="" />
            <h3>mark jho</h3>
            <span>expert doctors</span>
          </div>

          <div class="box">
            <img src="/public/img/bg.png" alt="" />
            <h3>yasmin lee</h3>
            <span>expert doctors</span>
          </div>

          <div class="box">
            <img src="/public/img/bg.png" alt="" />
            <h3>yasmin lee</h3>
            <span>expert doctors</span>
          </div>

          <div class="box">
            <img src="/public/img/bg.png" alt="" />
            <h3>rush fark</h3>
            <span>expert doctors</span>
          </div>

          <div class="box">
            <img src="/public/img/bg.png" alt="" />
            <h3>park ken</h3>
            <span>expert doctors</span>
          </div>
        </div>
      </section>
      <!-- doctors section ends -->

      <!-- booking section starts -->
      <section class="book" id="book">
        <div class="row">
          <div
            class="content"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            <h1 class="heading">Book <span>Now</span></h1>
            <p>
              Create Your Account And Immediately Make An Appointment With Our
              Trusted Psychologist, and let John Smith, David Johnson, and
              Michael Williams share their experiences with you!
            </p>
            <a href="/appointment" class="btn">
              consult today <span class="fas fa-chevron-right"></span>
            </a>
          </div>
          <div
            class="image"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            <img
              src="https://img.freepik.com/free-vector/smart-pill-boxes-abstract-concept-illustration_335657-3864.jpg?size=626&ext=jpg&ga=GA1.2.781077075.1679312414&semt=ais"
              alt="" />
          </div>
        </div>
      </section>
      <!-- booking section ends -->

      <!-- review section starts -->
      <section class="review" id="review">
        <h1 class="heading">client's <span>review</span></h1>
        <p>
          many people have used our srvices. we will continue to provide the
          best service for the needs of you and your lovely family
        </p>
        <br />
        <br />

        <div class="box-container">
          <div
            class="box"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            <img
              src="https://img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
              alt="" />
            <h3>John Smith</h3>
            <div class="stars">
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">
              This platform has been a lifesaver for me. Booking mental health
              consultations used to be a hassle, but now I can easily find and
              schedule appointments with qualified professionals. It's
              user-friendly, convenient, and has greatly improved my mental
              well-being
            </p>
          </div>

          <div
            class="box"
            data-aos="fade-down"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            <img
              src="https://img.freepik.com/free-photo/smiling-asian-male-doctor-pointing-upwards_1262-18321.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
              alt="" />
            <h3>David Johnson</h3>
            <div class="stars">
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">
              I'm really impressed with this mental health consultation booking
              platform. It's intuitive, secure, and offers a wide selection of
              therapists and counselors to choose from. Plus, the ability to
              read reviews and see their availability makes the whole process
              stress-free.
            </p>
          </div>

          <div
            class="box"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            <img
              src="https://img.freepik.com/free-photo/healthcare-workers-preventing-virus-quarantine-campaign-concept-cheerful-friendly-asian-female-physician-doctor-with-clipboard-during-daily-checkup-standing-white-background_1258-107867.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
              alt="" />
            <h3>Michael Williams</h3>
            <div class="stars">
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-stars"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">
              I can't recommend this platform enough. It's been a game-changer
              for me in seeking help and support for my mental health. The
              platform's simplicity and efficiency have made it so much easier
              to connect with therapists who genuinely care about my well-being.
            </p>
          </div>
        </div>
      </section>
      <!-- review section ends -->

      <!-- blogs starts -->
      <section class="blog">
        <h1 class="heading">our <span>blog</span></h1>
        <div class="box-container">
          <div
            class="box"
            data-aos="zoom-out-right"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            >
            <img src="/public/img/article2.png" alt="" />
            <h3>
              <a href="article2.html"
                >Kenali Faktor-Faktor yang Mempengaruhi Mental Health</a
              >
            </h3>
            <p>
              Dampak terbesar terhadap kesehatan mental seseorang terjadi
              sebelum masa dewasa awal, yaitu dari periode prenatal hingga 20
              tahun ke atas.
            </p>
          </div>

          <div
            class="box"
            data-aos="zoom-out-up"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            <img src="/public/img/article4.png" alt="" />
            <h3>
              <a href="article4.html"
                >Menjaga Kesehatan Mental dengan Self-Love</a
              >
            </h3>
            <p>
              Self-love atau yang biasa diketahui dengan mencintai diri sendiri
            </p>
          </div>

          <div
            class="box"
            data-aos="zoom-out-left"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-anchor-placement="top-center">
            <img src="/public/img/article3.png" alt="" />
            <h3>
              <a href="article3.html"
                >5 kebiasaan yang bisa mengganggu Kesehatan Mental</a
              >
            </h3>
            <p>
              Bukan hanya karena kondisi trauma, kesehatan mental juga
              dipengaruhi oleh kebiasaan buruk yang kerap dilakukan.
            </p>
          </div>
        </div>
      </section>
      <!-- blog section ends -->

      <!-- footer section stars -->

      <div id="footer-container"></div>
      <!-- footer section ends -->
    </div>
    <!-- header section starts -->
    <!-- Tampilan header saat belum login -->
    <div id="navbar-container"></div>
    <!-- header section ends -->

    <!-- services section starts -->
    <section
      class="services"
      id="services"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="100"
      data-aos-anchor-placement="top-center">
      <h1 class="heading">our <span>services</span></h1>
      <p>
        We provide to you the best choiches for you. Adjust it to your health
        needs and make sure your undergo treatment with our highly qualified
        psycholog you can consult with us which type of service is suitable for
        your health
      </p>
      <br />

      <br />
      <div class="box-container">
        <div class="box">
          <img src="/public/img/cari.png" alt="" />
          <h3>search psycholog</h3>
          <p>
            choose your psycholog from thousands of specialist, general, and
            trusted hospitals
          </p>
        </div>

        <div class="box">
          <img src="/public/img/pharmacy.png" alt="" />
          <h3>Online pharmacy</h3>
          <p>
            Buy your medicines with our mobile application with a simple
            delivery system
          </p>
        </div>

        <div class="box">
          <img src="/public/img/consul.png" alt="" />
          <h3>consultation</h3>
          <p>
            Free consultation with our trusted psychologs and get the best
            recomendations
          </p>
        </div>

        <div class="box">
          <img src="/public/img/info.png" alt="" />
          <h3>details info</h3>
          <p>
            Free consultation with our trusted psychologs and get the best
            recomendations
          </p>
        </div>

        <div class="box">
          <img src="/public/img/bag.png" alt="" />
          <h3>emergency care</h3>
          <p>You can get 24/7 urgent care for yourself or lovely family</p>
        </div>

        <div class="box">
          <img src="/public/img/tracking.png" alt="" />
          <h3>tracking</h3>
          <p>Track and save your medical history and health data</p>
        </div>
      </div>
    </section>
    <!-- services section ends -->

    <!-- about section starts -->

    <section
      class="about"
      id="about"
      data-aos="zoom-out"
      data-aos-duration="1000"
      data-aos-delay="100"
      data-aos-anchor-placement="top-center">
      <div class="row">
        <div class="image">
          <img src="/public/img/gambar2.png" alt="" />
        </div>

        <div class="content">
          <h3>Leading Healthcare Providers</h3>
          <p>
            ReBios Provides Progressive, And Affordable Psycholog Healthcare,
            Accessible On Mobile And Online For Everyone. To Us, It’s Not Just
            Work. We Take Pride In The Solutions We Deliver. Join our growing
            community of satisfied users and experience the positive impact of
            accessible mental health care firsthand. Your well-being is our
            priority.
          </p>
        </div>
      </div>
    </section>
    <!-- about section ends -->

    <!-- doctors section starts -->
    <section
      class="doctors"
      id="doctors"
      data-aos="zoom-in"
      data-aos-duration="1000"
      data-aos-delay="100"
      data-aos-anchor-placement="top-center">
      <h1 class="heading">our <span>psychologies</span></h1>
      <p>
        Free consultation with our trusted psychologs and get the best
        recomendations
      </p>

      <div class="box-container">
        <div class="box">
          <img src="/public/img/bg.png" alt="" />
          <h3>mark jho</h3>
          <span>expert doctors</span>
        </div>

        <div class="box">
          <img src="/public/img/bg.png" alt="" />
          <h3>mark jho</h3>
          <span>expert doctors</span>
        </div>

        <div class="box">
          <img src="/public/img/bg.png" alt="" />
          <h3>yasmin lee</h3>
          <span>expert doctors</span>
        </div>

        <div class="box">
          <img src="/public/img/bg.png" alt="" />
          <h3>yasmin lee</h3>
          <span>expert doctors</span>
        </div>

        <div class="box">
          <img src="/public/img/bg.png" alt="" />
          <h3>rush fark</h3>
          <span>expert doctors</span>
        </div>

        <div class="box">
          <img src="/public/img/bg.png" alt="" />
          <h3>park ken</h3>
          <span>expert doctors</span>
        </div>
      </div>
    </section>
    <!-- doctors section ends -->

    <!-- booking section starts -->
    <section class="book" id="book">
      <div class="row">
        <div
          class="content"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          <h1 class="heading">Book <span>Now</span></h1>
          <p>
            Create Your Account And Immediately Make An Appointment With Our
            Trusted Psychologist, and let John Smith, David Johnson, and Michael
            Williams share their experiences with you!
          </p>
          <a href="/appointment" class="btn">
            consult today <span class="fas fa-chevron-right"></span>
          </a>
        </div>
        <div
          class="image"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          <img
            src="https://public/img.freepik.com/free-vector/smart-pill-boxes-abstract-concept-illustration_335657-3864.jpg?size=626&ext=jpg&ga=GA1.2.781077075.1679312414&semt=ais"
            alt="" />
        </div>
      </div>
    </section>
    <!-- booking section ends -->

    <!-- review section starts -->
    <section class="review" id="review">
      <h1 class="heading">client's <span>review</span></h1>
      <p>
        many people have used our srvices. we will continue to provide the best
        service for the needs of you and your lovely family
      </p>
      <br />
      <br />

      <div class="box-container">
        <div
          class="box"
          data-aos="fade-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          <img
            src="https://public/img.freepik.com/free-photo/smiling-doctor-with-strethoscope-isolated-grey_651396-974.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>John Smith</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            This platform has been a lifesaver for me. Booking mental health
            consultations used to be a hassle, but now I can easily find and
            schedule appointments with qualified professionals. It's
            user-friendly, convenient, and has greatly improved my mental
            well-being
          </p>
        </div>

        <div
          class="box"
          data-aos="fade-down"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          <img
            src="https://public/img.freepik.com/free-photo/smiling-asian-male-doctor-pointing-upwards_1262-18321.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>David Johnson</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            I'm really impressed with this mental health consultation booking
            platform. It's intuitive, secure, and offers a wide selection of
            therapists and counselors to choose from. Plus, the ability to read
            reviews and see their availability makes the whole process
            stress-free.
          </p>
        </div>

        <div
          class="box"
          data-aos="fade-left"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          <img
            src="https://public/img.freepik.com/free-photo/healthcare-workers-preventing-virus-quarantine-campaign-concept-cheerful-friendly-asian-female-physician-doctor-with-clipboard-during-daily-checkup-standing-white-background_1258-107867.jpg?size=626&ext=jpg&ga=GA1.1.781077075.1679312414&semt=sph"
            alt="" />
          <h3>Michael Williams</h3>
          <div class="stars">
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-stars"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <p class="text">
            I can't recommend this platform enough. It's been a game-changer for
            me in seeking help and support for my mental health. The platform's
            simplicity and efficiency have made it so much easier to connect
            with therapists who genuinely care about my well-being.
          </p>
        </div>
      </div>
    </section>
    <!-- review section ends -->

    <!-- blogs starts -->
    <section class="blog">
      <h1 class="heading">our <span>blog</span></h1>
      <div class="box-container">
        <div
          class="box"
          data-aos="zoom-out-right"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          >
          <img src="/public/img/article2.png" alt="" />
          <h3>
            <a href="article2.html"
              >Kenali Faktor-Faktor yang Mempengaruhi Mental Health</a
            >
          </h3>
          <p>
            Dampak terbesar terhadap kesehatan mental seseorang terjadi sebelum
            masa dewasa awal, yaitu dari periode prenatal hingga 20 tahun ke
            atas.
          </p>
        </div>

        <div
          class="box"
          data-aos="zoom-out-up"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          <img src="/public/img/article4.png" alt="" />
          <h3>
            <a href="article4.html"
              >Menjaga Kesehatan Mental dengan Self-Love</a
            >
          </h3>
          <p>
            Self-love atau yang biasa diketahui dengan mencintai diri sendiri
          </p>
        </div>

        <div
          class="box"
          data-aos="zoom-out-left"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-anchor-placement="top-center">
          <img src="/public/img/article3.png" alt="" />
          <h3>
            <a href="article3.html"
              >5 kebiasaan yang bisa mengganggu Kesehatan Mental</a
            >
          </h3>
          <p>
            Bukan hanya karena kondisi trauma, kesehatan mental juga dipengaruhi
            oleh kebiasaan buruk yang kerap dilakukan.
          </p>
        </div>
      </div>
    </section>
    <!-- blog section ends -->

    <!-- footer section stars -->

    <div id="footer-container"></div>
    <!-- footer section ends -->

    <!-- custom js file link -->

    <script src="/public/script/script.js"></script>
    <script src="/public/script/navbar_footer.js"></script>
    <script src="/public/script/main_get.js"></script>
    <script src="/public/script/main_post.js"></script>
    <script src="/public/script/scroll-to-section.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script>
      // Fungsi untuk memeriksa apakah pengguna sudah login atau belum
      function checkLoginStatus() {
        fetch("/check-login-status") // Ganti dengan endpoint yang sesuai untuk memeriksa status login
          .then((response) => response.json())
          .then((data) => {
            if (data.isLoggedIn) {
              // Pengguna sudah login, load navbar sesudah login
              fetch("/navbar-after-login")
                .then((response) => response.text())
                .then((navbarHTML) => {
                  document.getElementById("navbar-container").innerHTML =
                    navbarHTML;
                });
            } else {
              // Pengguna belum login, load navbar sebelum login
              fetch("/navbar-before-login")
                .then((response) => response.text())
                .then((navbarHTML) => {
                  document.getElementById("navbar-container").innerHTML =
                    navbarHTML;
                });
            }
          });
      }

      // Panggil fungsi checkLoginStatus saat halaman dimuat
      window.onload = checkLoginStatus();
    </script>
  </body>
</html>
