<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/public/style/style.css" />
    <link rel="stylesheet" href="/public/style/navbar.css" />
  </head>
  <body>
    <header class="header">
      <a href="/index" class="logo">
        <img class="logo" src="/public/img/logo.png" alt="" />
      </a>

      <nav class="navbar">
        <a href="/index">home</a>
        <a href="#services">services</a>
        <a href="#doctors">find a psychologist</a>
        <a href="#book">book</a>
        <a href="/article1">blogs</a>
        <a href="/team">our team</a>
      </nav>

      <div class="header-btn">
        <a href="/signup" class="sign-up">Sign Up</a>
        <a href="/login" class="login">Login</a>
      </div>

      <div id="menu-btn" class="fas fa-bars" onclick="toggleMenu()"></div>
    </header>

    <script src="/public/script/script.js"></script>
  </body>
</html>
